{% extends 'base.html.twig' %}
{% block body %}
<div class="example-wrapper">
    <h1>¡Bievenido al mejor To-Do List hecho nunca para una prueba técnica! ✅</h1>
    {% for task in tasks %}
        <ul>
            <li> {{ task.name }} // {{ task.description }} // 
                {% if task.priority == 0 %} Baja {% elseif task.priority == 1 %} Media {% elseif task.priority == 2 %} Alta {% endif %} // 
                <a href="{{ url('app_edit_task', {'id': task.id }) }}">Editar</a> // 
                <a href="{{ url('app_delete_task', {'id': task.id }) }}">Eliminar</a></li>
        </ul>
    {% endfor %}
</div>
{% endblock %}
