<div class="navigationbar py-3 px-3">
    <li>
        <ul><a href="{{ url('app_home') }}">Inicio</a></ul>
        <ul><a href="{{ url('app_new_task') }}">Nueva Tarea</a></ul>
        <ul><a href="https://www.linkedin.com/in/diego-reategui-a8a707101/">Diego Reategui Linkedin</a></ul>
    </li>
</div>
