
<div class="card flex-column flex-shrink-0 p-3 bg-light mx-2">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"><a href="{{ url('app_home') }}"><div class="menuItem col-12 p-1">Inicio</div></a></li>
        <li class="nav-item"><a href="{{ url('app_new_task') }}"><div class="menuItem col-12 p-1">Nueva Tarea</div></a></li>
        <br>
        <li class="nav-item"><a href="https://www.linkedin.com/in/diego-reategui-a8a707101/" target="_blank"><div class="menuItem col-12 p-1">Diego Reategui Linkedin</div></a></li>
    </ul>
</div>
