<div class="navigationbar py-3 px-3">
    <ul>
        <li><a href="{{ url('app_home') }}">Inicio</a></li>
        <li><a href="{{ url('app_new_task') }}">Nueva Tarea</a></li>
        <li><a href="https://www.linkedin.com/in/diego-reategui-a8a707101/" target="_blank">Diego Reategui Linkedin</a></li>
    </ul>
</div>
